Repository hmcts/ccpay-payment-app, pull requests merged in 2018-11, with the labels that each got.

#324 S2S pui
  infrastructure/main.tf
Labels: ns:payment-api-pr-324

#323 PAY-1403 - populating statusHistory dto for GET /case/{case_id}/payments
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/StatusHistoryDto.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/resources/gov-pay-responses/get-payment-response.json
Labels: ns:payment-api-pr-323

#326 Point to SIDAM
  infrastructure/aat.tfvars
Labels: ns:payment-api-pr-326

#325 Pay 1171
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/IntegrationTestBase.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/LiberataOAuth2RestOperationsConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/AccountNotFoundException.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/AccountServiceUnavailableException.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/configurations/V2ComponentTestConfiguration.java
  api/src/test/resources/application-componenttest.properties
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/saat.tfvars
  infrastructure/variables.tf
  model/build.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/dto/AccountDto.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/AccountStatus.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
Labels: ns:payment-api-pr-325

#328 update ssl mode: Only merged after upgrading the liquibase
  infrastructure/main.tf
Labels: ns:payment-api-pr-328

#335 fix
  model/src/main/java/uk/gov/hmcts/payment/api/util/AccountStatus.java
Labels: ns:payment-api-pr-335

#337 removal of account endpoint
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
Labels: ns:payment-api-pr-337

#331 Service Callback Client
  Jenkinsfile_CNP
  api-contract/pom.xml
  api/build.gradle
  api/pom.xml
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/TopicClientProxy.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CallbackServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/jobs/MaintenanceJobsControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/CallbackServiceImplTest.java
  api/src/test/resources/application-componenttest.properties
  api/src/test/resources/gov-pay-responses/get-payment-response-created.json
  dependency-check-suppressions.xml
  gov-pay-client/pom.xml
  infrastructure/main.tf
  infrastructure/state.tf
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  model/build.gradle
  model/pom.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/CallbackService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
  pom.xml
Labels: ns:payment-api-pr-331

#342 Update main.tf
  infrastructure/main.tf
Labels: ns:payment-api-pr-342

#341 test to assert fee data
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
Labels: ns:payment-api-pr-341

#340 [PREVIEW] Pay 1407 liquibase
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  api/build.gradle
  api/liquibase.gradle
  api/src/main/resources/liquibase.properties
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/variables.tf
Labels: ns:payment-api-pr-340

#345 added pci pal payment provider
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
Labels: ns:payment-api-pr-345

#338 liberata-deserialisaiton-fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/AccountStatus.java
Labels: ns:payment-api-pr-338

#332 added finrem as trusted service
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/IntegrationTestBase.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
Labels: ns:payment-api-pr-332
