Repository hmcts/ccpay-payment-app, pull requests merged in 2018-10, with the labels that each got.

#290 CNP Docker configuration
  Dockerfile
  Jenkinsfile_CNP
  docker-compose.yml
  docker/database/Dockerfile
  docker/database/init-db.sh
  docker/entrypoint.sh
  kubernetes/.lint.yml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ip:10.97.16.225, ns:payment-api-pr-290

#251 Single payment multiple fees tests added
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordControllerTest.java
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-251

#306 PAY-1359 - moved to shared infra key-vault
  Jenkinsfile_CNP
  infrastructure/main.tf
Labels: ns:payment-api-pr-306

#297 [PREVIEW] PAY-1098 - webjob s2s security with java otp
  .gitignore
  App_Data/jobs/triggered/cad-csv-report/run.sh
  App_Data/jobs/triggered/pba-csv-report/run.sh
  App_Data/jobs/triggered/s2sToken.sh
  App_Data/jobs/triggered/status-update/run.sh
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentFixture.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/AuthenticatedServiceIdSupplier.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/resources/application.properties
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  otp/build.gradle
  otp/src/main/java/uk/gov/hmcts/payment/otp/OtpBootstrap.java
  settings.gradle
Labels: ns:payment-api-pr-297

#303 Script to generate IDAM and S2S tokens
  scripts/READ.ME
  scripts/config.sh
  scripts/tokens.sh
Labels: ns:payment-api-pr-303

#308 moving otp jar to root build directory as prod deployment can't copy …
  .gitignore
  App_Data/jobs/triggered/s2sToken.sh
  otp/build.gradle
Labels: ns:payment-api-pr-308

#311 set up forwarding of / to /health to prevent issue with bearer token.
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/AliasWebConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
Labels: ns:payment-api-pr-311

#309 Search by Pba Number Endpoints
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PBAController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
  api/src/main/java/uk/gov/hmcts/payment/api/v1/controllers/PaymentOldController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/DelegatingPaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PbaControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/jobs/MaintenanceJobsControllerMockTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/PaymentsReportServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/TestUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/backdoors/UserResolverBackdoor.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  model/src/main/java/uk/gov/hmcts/payment/api/service/CardDetailsServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LoggingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/LoggingOldPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/UserAwareDelegatingOldPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/LoggingOldPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/UserAwareDelegatingPaymentServiceTest.java
Labels: ns:payment-api-pr-309

#313 PAY-1384 - refactored payment-app functional tests to get idam tokens…
  Jenkinsfile_CNP
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/IntegrationTestBase.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefDataFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/Oauth2.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamApi.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/models/User.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/s2s/OneTimePasswordFactory.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/s2s/S2sApi.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/s2s/S2sTokenService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/tokens/ServiceTokenFactory.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/tokens/UserTokenFactory.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/test/java/uk/gov/hmcts/payment/api/configuration/security/util/OneTimePasswordFactoryTest.java
  infrastructure/output.tf
  infrastructure/saat.tfvars
  infrastructure/variables.tf
Labels: ns:payment-api-pr-313

#316 fixed tests in azure env
  infrastructure/output.tf
Labels: ns:payment-api-pr-316

#314 Pay 1355
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReference.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReconciliationComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/sugar/RestActions.java
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLink.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LoggingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
Labels: ns:payment-api-pr-314

#318 removed from aat config
  infrastructure/aat.tfvars
Labels: ns:payment-api-pr-318

#319 disabled liquibase
  infrastructure/variables.tf
Labels: ns:payment-api-pr-319

#317 PBA accounts func tests
  Jenkinsfile_CNP
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:payment-api-pr-317
