Repository hmcts/ccpay-payment-app, pull requests merged in 2019-02, with the labels that each got.

#366 Financial Remedy PBA payment integration.
  Dockerfile
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  docker-compose.yml
  infrastructure/main.tf
  kubernetes/config.aat.yaml
Labels: ns:payment-api-pr-366

#367 Pay 1489
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RemissionController.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerPerformanceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentFeeDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/FeeRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Remission.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/RemissionRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/InvalidPaymentGroupReferenceException.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/PaymentFeeNotFoundException.java
Labels: ns:payment-api-pr-367

#363 Pcipal callback
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/pcipal/TelephonyController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/TelephonyCallbackDto.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/sugar/RestActions.java
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/template/api-policy.xml
  infrastructure/template/api.json
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/TelephonyCallback.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/TelephonyRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:payment-api-pr-363

#358 Pay 1487
  api/src/main/resources/application.properties
  infrastructure/main.tf
Labels: ns:payment-api-pr-358

#369 used separate path to fix azure api management error
  infrastructure/main.tf
Labels: ns:payment-api-pr-369

#370 Update README.md
  README.md
Labels: ns:payment-api-pr-370

#371 payment group ref fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentServiceRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
Labels: ns:payment-api-pr-371

#375 update jui app as trusted app
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  build.gradle
  docker-compose.yml
  infrastructure/main.tf
  kubernetes/config.aat.yaml
Labels: ns:payment-api-pr-375

#377 Pay 1498
  .editorconfig
  Jenkinsfile_CNP
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  docker-compose.yml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/dto/PciPalPaymentRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/exceptions/PciPalClientException.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLink.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
  model/src/test/resources/__files/pci-pal-response.txt
Labels: ns:payment-api-pr-377

#376 added wild card to spring security
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
Labels: ns:payment-api-pr-376

#380 Update aat.tfvars to make it consistent with prod
  infrastructure/aat.tfvars
  kubernetes/config.aat.yaml
Labels: ns:payment-api-pr-380

#381 fixed pba finrem test as flag is disabled
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
Labels: ns:payment-api-pr-381

#373 added client certs config for telephony call back
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/template/api-policy.xml
  infrastructure/variables.tf
Labels: ns:payment-api-pr-373

#378 AKS - removed hard coded keys; reading from aat vault
  Jenkinsfile_CNP
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:payment-api-pr-378
