Repository hmcts/ccpay-payment-app, pull requests merged in 2019-11, with the labels that each got.

#583 PAY-2419:Payment AKS Migration
  .travis.yml
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
  charts/payment-api/values.aat.template.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:payment-api-pr-583

#585 Moving to hmcts version of liquibase which performs better DB locking
  api/build.gradle
  api/liquibase.gradle
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
Labels: ns:payment-api-pr-585

#589 Added identity name to aat template explictly
  charts/payment-api/values.aat.template.yaml
Labels: ns:payment-api-pr-589

#596 Hemp upgrade changes
  Jenkinsfile_CNP
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
Labels: ns:payment-api-pr-596

#597 PAY-2419:App insights related changes
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
Labels: ns:payment-api-pr-597

#598 APPInsights key updates
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:payment-api-pr-598

#595 PAY-Knightly
  Jenkinsfile_nightly
Labels: ns:payment-api-pr-595
