Repository hmcts/ccpay-payment-app, pull requests merged in 2019-09, with the labels that each got.

#524 Migration
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  docker/database/Dockerfile
  docker/database/init-db.sh
Labels: ns:payment-api-pr-524

#530 Migration prerequisites
  Jenkinsfile_CNP
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/values.aat.template.yaml
Labels: ns:payment-api-pr-530

#521 Code changes for adding value in status-history table.
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:payment-api-pr-521

#522 PAY- 2075
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentAllocationController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReference.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentAllocationDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/db/changelog/db.changelog-0.1.2.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentAllocationControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocation.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocationRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocationStatus.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocationStatusRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentAllocationService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentAllocationServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
Labels: ns:payment-api-pr-522

#533 Functional Test Fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamService.java
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:payment-api-pr-533

#536 Build Fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/idam/IdamService.java
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:payment-api-pr-536

#540 Functional Test Fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
Labels: ns:payment-api-pr-540

#514 PAY-2025 -> Fix for calculation when there is a remission
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
Labels: ns:payment-api-pr-514

#518 PAY-2102
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentOperationsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentOperationsControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentServiceTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentOperationsService.java
Labels: ns:payment-api-pr-518

#542 Updating to true to include CCD validation
  api/src/main/resources/application.properties
Labels: ns:payment-api-pr-542

#543 PAY-2102
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:payment-api-pr-543

#555 Adding jackson library vulnerabilities into supperssion file
  api/build.gradle
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-555
