Repository hmcts/ccpay-payment-app, pull requests merged in 2019-05, with the labels that each got.

#440 PAY-1659 Removed the duplicate pci pal callback url
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/ReferenceDataControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/FeeCacheTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/ReferenceDataServiceImpl.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/controllers/ReferenceDataController.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/service/SiteService.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/service/SiteServiceImpl.java
Labels: ns:payment-api-pr-440

#389 PAY-1573
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/LiberataServiceInaccessibleException.java
Labels: ns:payment-api-pr-389

#437 added basic circuit breaker config. Still need to tune values
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
  api/src/main/resources/application.properties
  gov-pay-client/build.gradle
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/GovPayClient.java
  model/build.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
Labels: ns:payment-api-pr-437

#451 added mock for liberata response (Account service)
  build.gradle
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/MockAccountServiceImpl.java
Labels: ns:payment-api-pr-451

#449 PAY-1738 - service callback fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/jobs/MaintenanceJobsControllerMockTest.java
  api/src/test/resources/application-componenttest.properties
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
Labels: ns:payment-api-pr-449

#442 PAY-1705
  App_Data/jobs/triggered/bar-csv-report/run.sh
  App_Data/jobs/triggered/bar-csv-report/settings.job
  App_Data/jobs/triggered/card-csv-report/run.sh
  App_Data/jobs/triggered/card-csv-report/settings.job
  App_Data/jobs/triggered/pba-csv-report/run.sh
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/PaymentReportConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/BarPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaFinremPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaProbatePaymentReportConfig.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReportControllerMockTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/reports/PaymentsReportFacadeTest.java
  api/src/test/resources/application-componenttest.properties
  build.gradle
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:payment-api-pr-442

#441 Reject duplicate pba payment
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/DuplicatePaymentValidator.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/DuplicatePaymentException.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
Labels: ns:payment-api-pr-441

#457 PAY-1760
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/BarPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/CardPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaCmcPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaDivorcePaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaFinremPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaProbatePaymentReportConfig.java
Labels: ns:payment-api-pr-457

#458 added logs for debugging
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
Labels: ns:payment-api-pr-458

#455 callback functional tests
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/mock/MockCallbackControllerForTesting.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/application.properties
  build.gradle
  charts/payment-api/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/MockAccountServiceImpl.java
Labels: ns:payment-api-pr-455

#462 Revert "callback functional tests "
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/mock/MockCallbackControllerForTesting.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/application.properties
  build.gradle
  charts/payment-api/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/MockAccountServiceImpl.java
Labels: ns:payment-api-pr-462

#461 increased requestVolumeThreshold to 20
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/GovPayClient.java
Labels: ns:payment-api-pr-461

#447 PAY-1703 Remission api and new remission end-points
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RemissionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/CreditAccountDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentRecordDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/RemissionDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/RemissionValidator.java
  api/src/main/resources/db/changelog/db.changelog-0.1.0.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentFeeDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/FeesServiceTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionServiceRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFee.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLink.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Remission.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/RemissionService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/RemissionServiceImpl.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/RemissionServiceTest.java
Labels: ns:payment-api-pr-447

#465 CVE-2019-12086 fix
  api/build.gradle
  build.gradle
Labels: ns:payment-api-pr-465

#466 Transactional at test class level
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
Labels: ns:payment-api-pr-466

#467 fixing run on PROD slot only.
  App_Data/jobs/triggered/status-update/run.sh
Labels: ns:payment-api-pr-467

#470 PAY-1621
  .travis.yml
  api/build.gradle
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/SwaggerPublisher.java
  build.gradle
  publish-swagger-docs-group-dockerless.sh
Labels: ns:payment-api-pr-470

#474 PAY-1621-fix2
  .travis.yml
  publish-swagger-docs-group-dockerless.sh
Labels: ns:payment-api-pr-474
