Repository hmcts/ccpay-payment-app, pull requests merged in 2019-07, with the labels that each got.

#482 improve performance by changing to parallel stream
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
Labels: ns:payment-api-pr-482

#483 PAY-1784
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CcdDataStoreServiceTest.java
  api/src/test/resources/application-componenttest.properties
  build.gradle
  charts/payment-api/values.aat.template.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/payment/api/dto/CcdCaseDetailsDto.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/CcdLink.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/CcdSecurityClassification.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/CcdDataStoreClientService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/CcdDataStoreClientServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/MockCcdDataStoreClientServiceImpl.java
Labels: ns:payment-api-pr-483

#487 Update demo.tfvars
  infrastructure/demo.tfvars
Labels: ns:payment-api-pr-487

#492 PAY-1922 Amended ccd prod url to http
  infrastructure/prod.tfvars
Labels: ns:payment-api-pr-492

#494 PAY-1922 Excluded the default health check class from ccd jar
  build.gradle
  infrastructure/demo.tfvars
Labels: ns:payment-api-pr-494

#496 PAY-1922 Added a temp env variable
  infrastructure/main.tf
Labels: ns:payment-api-pr-496

#484 PAY-1878 - Endpoints for adding fee to Payment Group
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/sugar/RestActions.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
Labels: ns:payment-api-pr-484

#498 change dependancy check version
  api-contract/build.gradle
  api/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  model/build.gradle
Labels: ns:payment-api-pr-498

#495 PAY-1882
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CaseControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/PaymentGroupNotFoundException.java
Labels: ns:payment-api-pr-495

#503 PAY-1934 -> adding validation and changing into payment group
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/InvalidFeeRequestException.java
Labels: ns:payment-api-pr-503

#504 [AK] Add case id validation feature flag
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
Labels: ns:payment-api-pr-504
