Repository hmcts/ccpay-payment-app, pull requests merged in 2019-03, with the labels that each got.

#388 Helm chart for payment api
  Jenkinsfile_CNP
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/values.aat.template.yaml
  charts/payment-api/values.template.yaml
  kubernetes/.lint.yml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:payment-api-pr-388

#385 PAY-1584 Validate payment reference in Govpay
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:payment-api-pr-385

#396 added required gov_pay key for functional tests
  Jenkinsfile_parameterized
Labels: ns:payment-api-pr-396

#395 Helm - key vault flex volume for secrets
  Jenkinsfile_CNP
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/templates/NOTES.txt
  charts/payment-api/values.aat.template.yaml
  charts/payment-api/values.template.yaml
Labels: ns:payment-api-pr-395

#379 PAY-1469
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/configurations/V2ComponentTestConfiguration.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/AccountDto.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/FakeAccountServiceImpl.java
Labels: ns:payment-api-pr-379

#397 sonar ignore
  model/src/main/java/uk/gov/hmcts/payment/api/service/FakeAccountServiceImpl.java
Labels: ns:payment-api-pr-397

#399 feature.credit.account.payment.liberata.check enabled by default
  api/src/main/resources/application.properties
Labels: ns:payment-api-pr-399

#401 saat => sidam
  infrastructure/saat.tfvars
Labels: ns:payment-api-pr-401

#402 Changes to be able to deploy in AAT using Flux
  api/src/main/resources/bootstrap.yaml
  build.gradle
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/values.template.yaml
Labels: ns:payment-api-pr-402

#400 changing functional test to reflect new changes
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
Labels: ns:payment-api-pr-400

#404 changing to property instead of env variable
  api/src/main/resources/bootstrap.yaml
Labels: ns:payment-api-pr-404

#405 enum fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
Labels: ns:payment-api-pr-405

#411 Removed pcipal redirect url and aat sidam switch
  infrastructure/aat.tfvars
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
Labels: ns:payment-api-pr-411

#409 fix for pciPal
  .gitignore
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/PciPalPaymentRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
Labels: ns:payment-api-pr-409
