Repository hmcts/ccpay-payment-app, pull requests merged in 2019-10, with the labels that each got.

#558 Updating to cnp modules from moj modules
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:payment-api-pr-558

#538 CMC: enable cmc_claim_store
  api/src/main/resources/application.properties
  charts/payment-api/values.yaml
Labels: ns:payment-api-pr-538

#560 Adding XUI service name to trusted services
  api/src/main/resources/application.properties
  charts/payment-api/values.yaml
  infrastructure/main.tf
Labels: ns:payment-api-pr-560

#565 update the review commnets
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/values.aat.template.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-565

#567 corrected the env variable
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:payment-api-pr-567
