Repository hmcts/ccpay-payment-app, pull requests merged in 2019-08, with the labels that each got.

#507 PAY-1985 -> Date created is added to the paymentresponse
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
Labels: ns:payment-api-pr-507

#505 PAY-1933
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RemissionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/RemissionDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
Labels: ns:payment-api-pr-505

#509 [AK] Update helm chart
  .gitignore
  Dockerfile
  api/src/main/resources/logback-includes.xml
  payment-audit.log
Labels: ns:payment-api-pr-509

#520 Pay 1938 - Web job changes
  App_Data/jobs/triggered/bar-csv-report/run.sh
  App_Data/jobs/triggered/card-csv-report/run.sh
  App_Data/jobs/triggered/pba-csv-report/run.sh
  App_Data/jobs/triggered/pba-finrem-weekly-csv-report/run.sh
  App_Data/jobs/triggered/s2sToken.sh
  App_Data/jobs/triggered/status-update/run.sh
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:payment-api-pr-520

#523 Vault changes - Build failure fix.
  Jenkinsfile_CNP
Labels: ns:payment-api-pr-523

#517 PAY-1987
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/BulkScanPaymentRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/resources/db/changelog/db.changelog-0.1.1.yaml
  api/src/main/resources/db/changelog/db.changelog-0.1.2.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  charts/payment-api/values.yaml
  docker-compose.yml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentStatus.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
Labels: ns:payment-api-pr-517
