Repository hmcts/ccpay-payment-app, pull requests merged in 2019-12, with the labels that each got.

#599 PAY-2419:AKS config changes for key vault
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  infrastructure/main.tf
Labels: ns:payment-api-pr-599

#605 PAY-2152
  Jenkinsfile_nightly
  api/build.gradle
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/PaymentsComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/SpringConfigurationComponentTest.java
  security.sh
Labels: ns:payment-api-pr-605

#606 PAY-2675:Enable Security Scan
  Jenkinsfile_nightly
  audit.json
Labels: ns:payment-api-pr-606
