Repository hmcts/ccpay-payment-app, pull requests merged in 2019-06, with the labels that each got.

#473 PAY-1723 - duplicate payments validation
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/DuplicatePaymentValidator.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/DuplicateSpecification.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/validators/DuplicatePaymentValidatorTest.java
Labels: ns:payment-api-pr-473

#476 upgrade spring boot
  README.md
  build.gradle
Labels: ns:payment-api-pr-476

#477 Check for duplicate payment in prod
  infrastructure/prod.tfvars
Labels: ns:payment-api-pr-477

#475 PAY-1774
  .gitignore
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentRecordController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/CreditAccountDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentRecordDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/PayStatusToPayHubStatus.java
Labels: ns:payment-api-pr-475
