Repository hmcts/ccpay-payment-app, pull requests merged in 2019-04, with the labels that each got.

#415 CVE-2018-1258 supression
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-415

#418 sidam demo
  infrastructure/demo.tfvars
Labels: ns:payment-api-pr-418

#422 Update main.tf
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:payment-api-pr-422

#412 PAY-1610
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  infrastructure/preview.tfvars
Labels: ns:payment-api-pr-412

#427 adding missing config prop ASB_CONNECTION_STRING
  docker-compose.yml
Labels: ns:payment-api-pr-427

#424 Payment demo pointing to aat idam
  infrastructure/demo.tfvars
Labels: ns:payment-api-pr-424

#428 GET endpoint payment by reference
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-428

#413 Pay-1613
  .gitignore
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  api/src/test/java/uk/gov/hmcts/LocalPaymentApiApplication.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/ReferenceDataControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/configurations/V2ComponentTestConfiguration.java
  build.gradle
  dependency-check-suppressions.xml
  model/build.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFee.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLinkRepository.java
  reference-data/build.gradle
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/controllers/ReferenceDataController.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/dto/SiteDTO.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/exception/ReferenceDataNotFoundException.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/model/Site.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/model/SiteRepository.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/service/SiteService.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/service/SiteServiceImpl.java
  settings.gradle
Labels: ns:payment-api-pr-413

#435 using known siteID for the bar payment
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
Labels: ns:payment-api-pr-435

#434 Pay 1708
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/RemissionValidator.java
  api/src/main/resources/db/changelog/db.changelog-0.0.9.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PbaControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/backdoors/DbBackdoor.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFee.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Remission.java
Labels: ns:payment-api-pr-434

#436 Pay 1695 Pay 1696
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PbaControllerTest.java
Labels: ns:payment-api-pr-436

#417 PAY-1659 Add fee ref data
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/FeesRegisterAdapter.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/FeesService.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/FeesServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/PaymentsReportServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/FeeCacheTest.java
  api/src/test/resources/application-componenttest.properties
  api/src/test/resources/fees-register-responses/allfees.json
  dependency-check-suppressions.xml
Labels: ns:payment-api-pr-417
