Repository hmcts/ccpay-payment-app, pull requests merged in 2020-09, with the labels that each got.

#735 Java 11 Changes
  .travis.yml
  Dockerfile
  api/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  otp/src/test/java/TestJunit.java
  reference-data/src/test/java/TestJunit.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-735

#736 Added the sonar quality changes ..
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RestErrorHandler.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-736

#734 [[AR]] - Spring boot changes alone
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/CreditAccountDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/v1/controllers/PaymentDtoFactory.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReconciliationComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/serviceanduser/ServiceAndUserTestApplication.java
  build.gradle
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/FeePayApportion.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocation.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFee.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLink.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Remission.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentService.java
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-734

#738 adding sonar quality issue fixes
  api/src/main/resources/db/changelog/db.changelog-0.1.4.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/FeePayApportionServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-738

#746 Code coverage issue fixes on Master
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-746

#748 PAY-3685- Docker compose file refactoring for some properties
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-748

#749 PAY-3685- Code Coverage fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RestErrorHandler.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-749
