Repository hmcts/ccpay-payment-app, pull requests merged in 2020-07, with the labels that each got.

#705 PAY-3433 - Enablement of Hikari db properties to check connection leaks
  api/src/main/resources/application.properties
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-705

#706 PAY-3432:Nightly Build issue fix
  audit.json
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-706

#707 Apportionment chart changes
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-707

#709 PAY:3162C: chart version without IAC
  api/src/main/resources/application.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-709

#708 PAY:3162: IAC PBA Changes
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-708

#710 Pay 3377 feature changes
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-710
