Repository hmcts/ccpay-payment-app, pull requests merged in 2020-10, with the labels that each got.

#752 PAY-3649 PBA code refactoring chart changes.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-752

#747 Mutation coverage issue fix
  api/build.gradle
  api/lombok.config
  api/src/main/java/uk/gov/hmcts/payment/api/dto/BulkScanPaymentRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentRecordRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/TelephonyCallbackDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/email/Email.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReportControllerMockTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-747

#754 PAY-3147- chart for strategic fix on top of production
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-754

#755 PAY-3719 Divorce PBA chart changes
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-755

#757 Adding Liberata Thumbprint for AAT
  infrastructure/prod.tfvars
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-757

#758 Removing AAT Thumbprint from Prod Config
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-758

#753 PAY-3692- Azure rm version upgrade for payment api
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-753

#760 PAY-3649 - PBA code refactoring final chart version.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-760

#751 PAY-3649 PBA code refactoring changes.
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/mapper/CreditAccountPaymentRequestMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapper.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-751

#759 PAY-3691: upgrade uk.gov.hmcts.java version 0.12.0
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-759

#763 [[AR]] - PAY-3721,PAY-3697 - Move CMC PBA from Config 1 to Config 2 chart changes and Whitelisting UNSPEC CMC service
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-763

#770 PBA pipeline failure fix.
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-770

#773 FR Telephony prod chart changes
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-773

#725 [[AR]] - PAY-3471 FR telephony changes.
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-725

#772 Pay-2939/2940/2941 : ITHC issues fixed for Payment API
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/BulkScanningReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/BulkScanningReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/FeesControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/GovPayComponentMockTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentAllocationControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/jobs/MaintenanceJobsControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/SendMessageApplication.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/PaymentsComponentTest.java
  build.gradle
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/UserAwareDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/govpay/GovPayPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-772

#775 Test Case fix for ITHC Changes.
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-775

#769 [[AR]] - PAY-3697 Unspec PBA changes
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-769

#779 PAY-3773 Divorce PBA config changes for prod
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-779

#762 Pay 3743 upgraded core case data store client 4.6.4 to 4.7.3
  api/src/main/resources/application-local.properties
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-762

#781 Pay 3743 upgrade core case data store client 4.7.3 and Supression added
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-781

#766 Ta 25 pact provider test div
  Jenkinsfile_CNP
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTestConfiguration.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/PayFeeLinkRepositoryStub.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-766
