Repository hmcts/ccpay-payment-app, pull requests merged in 2020-01, with the labels that each got.

#593 [[AR]] - Demo backup 21.11.2019
  api-contract/build.gradle
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/BulkScanningReportDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/BulkScanningUnderOverPaymentDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentAllocationDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/BulkScanningReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentAllocationController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentOperationsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/BulkScanPaymentRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/BulkScanningReportMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/PaymentValidator.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/db/changelog/db.changelog-0.1.3.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/BulkScanningReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentAllocationControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentOperationsControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  build.gradle
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocation.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFee.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentAllocationService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentAllocationServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentOperationsService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/DateUtil.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/PaymentMethodType.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/ReportType.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
Labels: ns:fees-pay, ns:payment-api-pr-593, rel:payment-api-pr-593

#615 Prod release22012020
  dependency-check-suppressions.xml
Labels: ns:fees-pay, rel:payment-api-pr-615

#619 PAY-2772 - Bulk Scan report - Logic change from payment provider to payment channel
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/BulkScanningReportMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/BulkScanningReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
Labels: ns:fees-pay, rel:payment-api-pr-619
