Repository hmcts/ccpay-payment-app, pull requests merged in 2020-12, with the labels that each got.

#793 PAY-3519 : DB Upgrade from v9.6 to v11 using 2nd approach and CPU upg…
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  docker/database/Dockerfile
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-793

#794 [[AR]] - CMC chart changes for prod.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  model/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-794

#786 Preview Helm chart cleanup
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-786

#789 local idam added
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-789

#783 Pay 3732 - Legacy Site retrieve
  .gitignore
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReferenceDataController.java
  api/src/main/resources/db/changelog/db.changelog-0.1.5.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReferenceDataControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/PaymentsComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/PaymentsRefDataComponentTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/LegacySite.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/LegacySiteRepository.java
  reference-data/src/main/java/uk/gov/hmcts/payment/referencedata/controllers/ReferenceDataController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-783

#798 DTSPO-266 Enable self service read only access
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-798

#802 Revert change to old DB as it's in readonly
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-802

#806 Pay 3912-cmc pba replay payment
  api-contract/build.gradle
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/ReplayCreditAccountPaymentDTO.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/ReplayCreditAccountPaymentRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ReplayCreditAccountPaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentDbBackdoor.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/ReplayCreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/CSVUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/sugar/RestActions.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentStatus.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/ReplayCreditAccountPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/ReplayCreditAccountPaymentServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-806

#807 PROD-CLONE-DB-CHART-36
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-807

#808 PROD Clone DB chart version changes revert
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-808
