Repository hmcts/ccpay-payment-app, pull requests merged in 2020-02, with the labels that each got.

#626 PAY-2789 : FPLA Service Whitelisting (PBA)
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
Labels: ns:fees-pay, rel:payment-api-pr-626

#621 Gov pay whales analysis
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CardPaymentRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Language.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/resources/gov-pay-responses/create-payment-response-welsh-language.json
  dependency-check-suppressions.xml
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/govpay/GovPayPaymentServiceTest.java
Labels: ns:fees-pay, rel:payment-api-pr-621

#627 PAY-2789 : FPLA Service Whitelisting (PBA)
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
Labels: ns:fees-pay, rel:payment-api-pr-627

#628 PAY-2785 : PCI Call back - success status to be updated once
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/TelephonyControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, rel:payment-api-pr-628

#629 PAY-2785 : PCI Call back - Custom AppInsight Event created
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, rel:payment-api-pr-629

#631 PAY-2760:Welsh language changes for Fees&Pay
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CardPaymentRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Language.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/v1/controllers/PaymentOldController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/resources/gov-pay-responses/create-payment-response-welsh-language.json
  dependency-check-suppressions.xml
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/GovPayClient.java
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/dto/CreatePaymentRequest.java
  gov-pay-client/src/test/java/uk/gov/hmcts/payment/api/external/client/GovPayClientTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentServiceRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/LoggingOldPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/UserAwareDelegatingOldPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/govpay/GovPayPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/LoggingOldPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/UserAwareDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/v1/model/govpay/GovPayPaymentServiceTest.java
Labels: ns:fees-pay, rel:payment-api-pr-631

#633 Pay 2601 payment cancellation api
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/FF4jConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LoggingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
Labels: ns:fees-pay, rel:payment-api-pr-633

#641 [[AR]] - Pay-2638 CVE changes
  Jenkinsfile_CNP
  api/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  model/build.gradle
Labels: ns:fees-pay, rel:payment-api-pr-641

#635 PAY-2856:PBA missing details backend changes
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/CreditAccountDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
Labels: ns:fees-pay, rel:payment-api-pr-635

#644 PAY 2785 : PCIPAL Callback changes
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/pcipal/TelephonyController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/TelephonyControllerTest.java
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, rel:payment-api-pr-644
