Repository hmcts/ccpay-payment-app, pull requests merged in 2021-02, with the labels that each got.

#818 Pay 3947 payment cve fixes
  api/build.gradle
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/ReplayCreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/email/EmailServiceTest.java
  build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-818

#801 Pay 3700 removing ccd hard depend
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-801

#833 Nightly build failure at mutation and functional
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/MockAccountServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-833

#837 [[AR]] - PAY-4034 - Loggers added
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/FeesRegisterAdapter.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/FeesRegisterClient.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/FeesService.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-837

#836 Mutation test fix
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-836

#840 PAY-4065: Test case Refactor
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-840

#838 [[AR]] - PAY-4088 - Indexing added for fee pay apportion table.
  api/src/main/resources/db/changelog/db.changelog-0.1.6.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-838

#843 PAY-4117: Manually confirm that the timestamp data is not sensitive
  audit.json
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-843

#842 Helm chart cleanup
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-842
