Repository hmcts/ccpay-payment-app, pull requests merged in 2021-09, with the labels that each got.

#995 Change retro code
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-995

#997 PAY-5180- New Payhub Api to update remission details
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RefundsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/ResubmitRefundRemissionRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/RefundsControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/RemissionRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-997

#999 PAY-5146-PBA v3 api refactoring
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTestConfiguration.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestDtoDomainMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestPaymentDomainDataEntityMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestPaymentDtoDomainMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/model/ServiceRequestFeeBo.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/model/ServiceRequestPaymentBo.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestFeeDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestPaymentDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/model/ServiceRequestBoTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest2.java
  model/src/main/java/uk/gov/hmcts/payment/api/exceptions/OrderReferenceNotFoundException.java
  model/src/main/java/uk/gov/hmcts/payment/api/exceptions/ServiceRequestReferenceNotFoundException.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/FeePayApportionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRecordServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/ReferenceDataServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/RemissionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/ServiceRequestCaseUtil.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/OrderException.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/OrderExceptionForNoAmountDue.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/OrderExceptionForNoMatchingAmount.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/ServiceRequestException.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/ServiceRequestExceptionForNoAmountDue.java
  model/src/main/java/uk/gov/hmcts/payment/api/v1/model/exceptions/ServiceRequestExceptionForNoMatchingAmount.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentRecordServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/RemissionServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-999

#1003 refunds_api whitelisted in payment
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/values.yaml
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1003
