Repository hmcts/ccpay-payment-app, pull requests merged in 2021-05, with the labels that each got.

#885 Nightly Build issue fix
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-885

#886 Changing unpsec service name to CIVIL and whitelist civil_service
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/util/Service.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequestTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/main/resources/application-local.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentAllocation.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-886

#907 Update cve-resolution-strategy.gradle
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-907

#909 Updated utc zone for test
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-909

#912 nightly build fix - 21-05-21
  audit.json
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-912

#913 [[AR]] - PAY-4627 - Chart changes for whitelisting Civil service in Prod and AAT.
  api/src/main/resources/application.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-913
