Repository hmcts/ccpay-payment-app, pull requests merged in 2021-08, with the labels that each got.

#975 Update BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-975

#978 CVE fix
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-978

#980 cve fix
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-980

#982 upgrade helm chart version
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-982

#981 [[AR]] - PAY-4368 Bar leeds rollout changes.
  api/src/main/resources/db/changelog/db.changelog-0.1.7.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-981
