Repository hmcts/ccpay-payment-app, pull requests merged in 2021-04, with the labels that each got.

#866 [[AR]] - PAY-4156 - Probate PBA chart changes
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-866

#868 CVE fix on Jetty package
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-868

#849 Pay 3400 Payment api unit tests refactoring
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/CardPaymentRequestTest.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequestTest.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/UpdatePaymentRequestTest.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/util/CurrencyCodeTest.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/util/LanguageTest.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/util/ServiceTest.java
  api/build.gradle
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/BulkScanningReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CallbackServiceImplTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/ReplayCreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/.DS_Store
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/BulkScanningReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CardPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeesControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentAllocationControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/utils/ReplayCreditAccountPaymentUtils.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/.DS_Store
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/BulkScanningReportMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/CreditAccountDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/CreditAccountPaymentRequestMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentGroupDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/RemissionDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/StatusMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImplTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/validators/.DS_Store
  api/src/test/java/uk/gov/hmcts/payment/api/validators/RemissionValidatorTest.java
  dependency-check-suppressions.xml
  model/src/test/java/uk/gov/hmcts/payment/api/audit/AuditInsightsAuditRepositoryTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/configuration/FeatureToggleConfigurationTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/configuration/LaunchDarklyFeatureTogglerTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/jpaaudit/listner/EntityAuditorAwareTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/ReferenceDataServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/ReplayCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/util/ReferenceUtilTest.java
  model/src/test/resources/application-test.properties
  otp/build.gradle
  otp/src/test/java/uk/gov/hmcts/payment/otp/OtpBootStrapTest.java
  reference-data/src/test/java/uk/gov/hmcts/payment/referencedata/controllers/ReferenceDataControllerTest.java
  reference-data/src/test/java/uk/gov/hmcts/payment/referencedata/exception/ReferenceDataExceptionTest.java
  reference-data/src/test/java/uk/gov/hmcts/payment/referencedata/service/SiteServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-849

#873 DTSPO-2296 Reading keyvault secret for sendgrid API token
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-873

#874 DTSPO-2296 - Sendgrid migration
  api/src/main/resources/bootstrap.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-874

#876 DTSPO-2296 - Sendgrid migration
  api/src/main/resources/bootstrap.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-876

#878 Update PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-878

#879 DTSPO-2296 - Sendgrid Migration
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-879

#880 functional test and CVE fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBarPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-880

#875 Jitpack fix to pull libraries
  .github/workflows/ci.yml
  .travis.yml
  api/build.gradle
  build.gradle
  jitpack.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-875

#848 PAY - 4031 - added github actions
  .github/workflows/ci.yml
  .travis.yml
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-848

#871 chart version upgraded
  charts/payment-api/Chart.yaml
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-871
