Repository hmcts/ccpay-payment-app, pull requests merged in 2021-11, with the labels that each got.

#1027 CVE fix CVE-2021-22096
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1027

#1035 Removing cpo topic primary send listen shared access key
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1035

#1040 added paymentoutcome_web to values.yaml and application.properties
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1040

#1033 changes added for Service Request GET card payment status
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTestConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/FeesServiceTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/exceptions/PaymentServiceNotFoundException.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/FeesService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/FeesServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LoggingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/ServiceToTokenMap.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/govpay/ServiceToTokenTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1033

#1026 Pay 5278
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/resources/application-local.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1026

#1029 Pay 5164- Modified Case/{ccdcasenumber}/paymentgroups
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/util/ServiceRequestUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/backdoors/UserResolverBackdoor.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1029

#1024 Adding IAC card payment config
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1024

#1051 removed the unwanted info
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/liquibase.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/OrderControllerTest.java
  api/src/test/resources/application-componenttest.properties
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1051

#1058 Defect fix
  api/src/main/java/uk/gov/hmcts/payment/api/util/ServiceRequestUtil.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1058

#1060 bug fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestDtoDomainMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/util/ServiceRequestUtil.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1060

#1056 Pay 5290- IAC changes
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1056

#1063 Update ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1063

#1061 5238 new payment status dto
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentReference.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/servicebus/ServiceRequestDomainServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1061
