Repository hmcts/ccpay-payment-app, pull requests merged in 2021-07, with the labels that each got.

#940 Nightly-dev-security-scan-fix-01-07-21
  security.sh
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-940

#942 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-942

#929 Pay 4612 repository sync
  Jenkinsfile_CNP
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-929

#945 IAC and Probate backend chart changes for prod.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-945

#946 Reverting IAC and Probate backend chart changes for prod.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-946

#947 Pact test fix
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-947

#948 CVE fix for CVE-2021-27568
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-948

#904 Pay 3955 iac supplementary info
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/SupplementaryPaymentDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacServiceImpl.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/dto/IacSupplementaryRequest.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/MissingSupplementaryInfo.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/SupplementaryDetails.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/SupplementaryDetailsResponse.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/SupplementaryInfo.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-904

#804 Ta 200 provider test post payment
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-804

#831 TA-255: Add provider test for ExUi account interaction
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/AccountProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-831

#952 Report controller - cmc and finrem to trigger email
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-952

#953 Update cve-resolution-strategy.gradle
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-953

#956 Update BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-956

#964 cve fix
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-964

#965 CVE fix
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-965
