Repository hmcts/ccpay-payment-app, pull requests merged in 2021-01, with the labels that each got.

#805 Pay 3934 payment nightly build
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-805

#796 [[AR]] PAY-3836 - Probate on-boarding PBA payments.
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/CreditAccountPaymentRequest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentControllerTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-796

#820 PAY-3918 : Removed the OLD DB instance mapping from main.tf
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-820

#791 PAY-3831: helm chart upgrade and spring boot upgrade changes
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  build.gradle
  charts/payment-api/Chart.yaml
  charts/payment-api/requirements.yaml
  charts/payment-api/values.yaml
  model/build.gradle
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-791

#825 change test case to resolve build issue
  api/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-825

#827 org.testcontainers:postgresql upgrade to 1.15.1
  api/build.gradle
  build.gradle
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-827
