Repository hmcts/ccpay-payment-app, pull requests merged in 2021-12, with the labels that each got.

#1038 Issue 5270
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1038

#1072 build issue fix
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1072

#1074 build issue fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1074

#1075 log4j upgrade
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1075

#1066 removed sen info
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/liquibase.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/OrderControllerTest.java
  api/src/test/resources/application-componenttest.properties
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1066

#1076 log4j upgrade to 2.16.0
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1076

#1071 Error handling
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestBasedOnlineCardPayment.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  build.gradle
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1071

#1078 Update ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1078

#1083 idam fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PBAController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PbaControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/IdamUserIdResponse.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/IdamServiceImpl.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/IdamServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1083

#1085 message topic test
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1085
