Repository hmcts/ccpay-payment-app, pull requests merged in 2021-03, with the labels that each got.

#816 PAY-3826 : Fix to Duplicate Payment Issue in Liberata Pull API
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-816

#846 Pay 3900 fix contract tests
  Jenkinsfile_CNP
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/consumer/ReferenceDataLocationConsumerTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/AccountProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTestConfiguration.java
  api/src/contractTest/resources/application.yml
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-846

#850 PAY-4179 : Nightly Build issue fix
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-850

#857 Pay 4088 perf improvements
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBarPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBulkscanPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerTest.java
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/service/DelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LoggingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentOperationsService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRecordServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-857

#743 [[AR]] - PAY-3566 - PCIPAL Antenna API Implementation
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/TelephonyCardPaymentsRequest.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/TelephonyCardPaymentsResponse.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/TelephonyDtoMapper.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentGroupControllerTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/dto/TelephonyProviderAuthorisationResponse.java
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/dto/TelephonyProviderLinkIdRequest.java
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/dto/TelephonyProviderLinkIdResponse.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentChannel.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentProvider.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-743

#858 Added xui webapp to whitelisted list
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-858

#862 CVE Fix - Pay 4302
  api/build.gradle
  build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  model/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-862
