Repository hmcts/ccpay-payment-app, pull requests merged in 2022-11, with the labels that each got.

#1288 PAY-5620 Fixed Blocker issues from Sonar report
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupServiceImpl.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1288

#1292 Generated random ccd case number to fix broken FT
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1292

#1293 Pointed to Refunds PR-280
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1293

#1294 PAY-5638 Sonar Critical Fixes
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1294

#1304 upgrade snake yaml
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  model/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1304

#1296 PAY-5638 Sonar Critical Fixes
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/order/ServiceRequestCpoDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/StatusMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapperTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/FeePayApportionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/IdamServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/RemissionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/GovPayDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1296

#1313 updated chart, supressed cve
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1313
