Repository hmcts/ccpay-payment-app, pull requests merged in 2022-03, with the labels that each got.

#1145 Service request status
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestPaymentDomainDataEntityMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/mapper/ServiceRequestPaymentDtoDomainMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/model/ServiceRequestPaymentBo.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestPaymentDto.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestPaymentDomainDataEntityMapperTest.java
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1145

#1136 Pay 5323
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundListDtoResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundStatus.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentGroupService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1136

#1127 Pay5417
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1127

#1156 Update CreditAccountPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentComponentTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1156

#1146 PAY-5316 created a new API GET /payments to return list of PaymentDto…
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentAllocationController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundRequestDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentOperationsService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceImplTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1146

#1165 updated for flag changes
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1165

#1166 Post refund request updated
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/RefundsFeeDto.java
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentRefundRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/RefundsControllerTest.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1166

#1151 PAY-5516 Updated post refund end-points with additional attributes - paymentChannel and paymentMethod
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundRequestDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1151
