Repository hmcts/ccpay-payment-app, pull requests merged in 2022-10, with the labels that each got.

#1276 adding keyvault entries
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1276

#1268 button logic
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1268

#1285 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1285

#1265 Pba update
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/PaymentReportConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportFacade.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaCivilPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaPrlPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/PaymentValidator.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  api/src/test/java/uk/gov/hmcts/payment/api/reports/PaymentsReportFacadeTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  docker-compose.yml
  model/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentSearchCriteria.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1265
