Repository hmcts/ccpay-payment-app, pull requests merged in 2022-07, with the labels that each got.

#1211 CVE-2022-33915 and CVE-2022-34305 has been suppressed.
  charts/payment-api/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1211

#1202 PAY-5589 W2P Cron job
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentReportControllerMockTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/CallbackServiceImplTest.java
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/dto/Link.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1202

#1217 chart version update
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1217

#1218 chart version update and bootstrap value
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1218

#1222 modify payment-app nightly build time
  Jenkinsfile_nightly
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1222

#1226 Suppressed CVEs
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1226

#1213 Pay 3105 update tests to serenity restassured
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BuildInfoIntegrationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAAccountsFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBulkscanPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefDataFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestBasedOnlineCardPayment.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/CaseTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PBAAccountsTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/RefDataTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/ServiceRequestTestService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1213

#1221 Merge conflict resolve
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImpl.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1221

#1228 Mop up fix
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/DelegatingPaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordComponentTest.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/ServiceToTokenMap.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1228

#1236 Merge conflict fix
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BuildInfoIntegrationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAAccountsFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentAmountTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBulkscanPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefDataFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestBasedOnlineCardPayment.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/CaseTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PBAAccountsTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/RefDataTestService.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/ServiceRequestTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/DelegatingPaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRecordComponentTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/govpay/ServiceToTokenMap.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCardPaymentLinkServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1236

#1235 PAY-5681 Mop up fix
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1235

#1237 reverted code fixes for 27 and 28 July 2022
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1237
