Repository hmcts/ccpay-payment-app, pull requests merged in 2022-02, with the labels that each got.

#1105 Pay 5360 ContactDetails validation
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/Notification.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/DelegatingPaymentServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReconciliationComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1105

#1106 inconsistentStatusFix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestBasedOnlineCardPayment.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1106

#1095 Partial Refunds Backend Validations
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RefundsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentRefundRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/InvalidPartialRefundRequestException.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/RefundsControllerTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1095

#1123 Pay 5414
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundRequestDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1123

#1128 W2p changes
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestBasedOnlineCardPayment.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/ServiceRequestTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/OnlineCardPaymentRequest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestPaymentDto.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1128

#1135 cve issue fix-CWE-862
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1135

#1140 chart version update
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1140
