Repository hmcts/ccpay-payment-app, pull requests merged in 2022-06, with the labels that each got.

#1194 CVE Fixes
  api/build.gradle
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  model/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1194

#1191 Update ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1191

#1203 Extend cve date to 30/09/2022
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1203

#1204 Create renovate.json
  .github/renovate.json
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1204
