Repository hmcts/ccpay-payment-app, pull requests merged in 2022-01, with the labels that each got.

#1067 Backend validation-PAY-5314
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/FeeDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyTelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/model/Roles.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/idam/IdamTokenResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/idam/IdamUserIdResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/idam/IdamUserInfoResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/UserNotFoundException.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IdamService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IdamServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceImpl.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/IdamServiceImplTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeesControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/RemissionControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentOperationsService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/util/RefundEligibilityUtil.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/util/RefundEligibilityUtilTest.java
  model/src/test/resources/application-test.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1067

#1086 Update CaseController.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1086

#1087 FT fix
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1087

#1099 Service on boarding : Adoption
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/CardPaymentRequestTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1099

#1091 Pay 5372
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/CardPaymentRequestTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1091
