Repository hmcts/ccpay-payment-app, pull requests merged in 2022-12, with the labels that each got.

#1317 chart bump payment
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1317

#1308 add pba payment test for probate service with probate pba account
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1308

#1316 CVE Suppression Date Update
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1316

#1303 Pay 5746 and PAY-5760,PAY-5783
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/DisputeDto.java
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/PaymentDto.java
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/PaymentDtoTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/util/ServiceRequestUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1303

#1320 bulk scan pointing
  api/src/functionalTest/resources/application-functional-tests.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1320

#1323 Ft fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1323

#1283 refund amount validation
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyTelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1283
