Repository hmcts/ccpay-payment-app, pull requests merged in 2022-08, with the labels that each got.

#1234 Pipeline Stability Improvements - FTs
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1234

#1229 SonarQube Blocker Issues
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CallbackServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerPerformanceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestDomainDataEntityMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestPaymentDomainDataEntityMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestPaymentDtoDomainMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/TopicClientProxyTest.java
  gov-pay-client/build.gradle
  gov-pay-client/src/test/java/uk/gov/hmcts/payment/api/external/client/GovPayClientTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1229

#1190 Pay 5016 8 x8 decomission
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentDtoMapperTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/util/DateUtilTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1190

#1241 Conflicts Resolved with master branch
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentRecordFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentsSearchFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PciPalCallbackTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyTelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/CallbackServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CallbackServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CreditAccountPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentControllerPerformanceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/TelephonyControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestDomainDataEntityMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestPaymentDomainDataEntityMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/ServiceRequestPaymentDtoDomainMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/TopicClientProxyTest.java
  gov-pay-client/build.gradle
  gov-pay-client/src/test/java/uk/gov/hmcts/payment/api/external/client/GovPayClientTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/LoggingCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PaymentServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/PciPalPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingCreditAccountPaymentServiceTest.java
  model/src/test/java/uk/gov/hmcts/payment/api/util/DateUtilTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1241

#1219 Pay 5597 Payment Status Update Ping 2
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RemissionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureClosedDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureInitiatedDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureResponseDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusBouncedChequeDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusChargebackDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusUpdateSecond.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RepresentmentStatus.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentStatusDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentStatusResponseMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/FailureReferenceNotFoundException.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/InvalidPaymentFailureRequestException.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/main/resources/bootstrap.yaml
  api/src/main/resources/db/changelog/db.changelog-0.1.10.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailures.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/IdamServiceImpl.java
  model/src/test/java/uk/gov/hmcts/payment/api/service/IdamServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1219

#1242 Merge conlict v2.1
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/RemissionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureClosedDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureInitiatedDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureResponseDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusBouncedChequeDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusChargebackDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentStatusUpdateSecond.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RepresentmentStatus.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentStatusDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentStatusResponseMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/FailureReferenceNotFoundException.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/InvalidPaymentFailureRequestException.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IdamServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/main/resources/bootstrap.yaml
  api/src/main/resources/db/changelog/db.changelog-0.1.10.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/CardPaymentComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailures.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1242

#1243 PAY-5681 Mop up fix
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/resources/application.properties
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1243

#1246 Junit fix after master synch
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentGroupControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/TelephonyControllerTest.java
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/PaymentServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/UserAwareDelegatingPaymentService.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1246

#1251 Update dependency-check-suppressions.xml
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1251

#1245 Pay 5658-unprocessed-payment-update
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1245

#1253 unpcressed payment update changes
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/dsl/PaymentsTestDsl.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentReconciliationComponentTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1253

#1231 Payment failure report
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureReportDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentFailureReportResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RefundPaymentFailureReportDtoResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentFailureReportMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFailureRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1231

#1255 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1255
