Repository hmcts/ccpay-payment-app, pull requests merged in 2023-11, with the labels that each got.

#1526 PAY-6573_secretsChange
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1526

#1527 PAY-6571: Update Charts Refunds Version
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1527

#1529 PAY-6643: Add nfdiv-case-api to gov pay keys #1525
  api/src/main/resources/application.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1529

#1534 PAY-6682_sdp user creation
  infrastructure/sdp.tf
Labels: ns:fees-pay, prd:payment, add-or-update, rel:payment-api-pr-1534

#1535 PAY-6682_sdp user creation
  infrastructure/sdp.tf
Labels: ns:fees-pay, prd:payment, no-changes, rel:payment-api-pr-1535

#1541 PAY-6701 Force Access to flexible db
  charts/payment-api/Chart.yaml
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, destroy, rel:payment-api-pr-1541

#1542 PAY-6702 Amend SDP user access
  infrastructure/sdp.tf
Labels: ns:fees-pay, prd:payment, destroy, rel:payment-api-pr-1542

#1543 PAY-6702 Amend suppression date
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1543

#1516 PAY-6594: PBA Idempotency duplicate payment fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestPaymentDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/model/IdempotencyKeys.java
  api/src/main/java/uk/gov/hmcts/payment/api/model/IdempotencyKeysRepository.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/db/changelog/db.changelog-0.1.11.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  docker-compose.yml
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, add-or-update, enable_keep_helm, rel:payment-api-pr-1516
