Repository hmcts/ccpay-payment-app, pull requests merged in 2023-07, with the labels that each got.

#1460 Changes for broken FTs with Java 17/Spring Boot upgrade
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1460

#1376 Pay 5466 v1
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyTelephonyPaymentFunctionalTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceTest.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1376

#1464 PAY-6406: Update to suppress CVE-2023-34036
  Jenkinsfile_CNP
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1464

#1471 CVE-2023-38286 Thymeleaf through 3.1.1.RELEASE, as used in spring-bo…
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1471

#1473 fixing liquibase
  api/liquibase.gradle
Labels: ns:fees-pay, prd:payment, no-changes, rel:payment-api-pr-1473

#1474 PAY-6391: Remove redundant secret.
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1474
