Repository hmcts/ccpay-payment-app, pull requests merged in 2023-01, with the labels that each got.

#1314 opening new PR for iac report
  README.md
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/PaymentReportConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaIacPaymentReportConfig.java
  api/src/main/resources/bootstrap.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1314

#1326 Ft fix
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyTelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1326

#1332 Updated DCN generation logic to avoid any conflicts
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1332

#1324 Psu ft
  Jenkinsfile_CNP
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1324

#1340 updated deprecated after to afterAlways
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1340

#1335 PACT tests
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/AccountProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/ServiceRequestProviderTest.java
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1335

#1346 Update ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1346
