Repository hmcts/ccpay-payment-app, pull requests merged in 2023-02, with the labels that each got.

#1347 Pact changes
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1347

#1345 initialized ArrayList
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  charts/payment-api/values.preview.template.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeRepository.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1345

#1351 publish pact test results true
  api/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1351

#1354 added filtering logic in fee-pay-apportion ep
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1354

#1360 PACT changes
  Jenkinsfile_CNP
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/AccountProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/ServiceRequestProviderTest.java
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1360

#1364 condtion to check if payment available
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1364

#1367 suppressing issue pending jackson-core fix
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1367
