Repository hmcts/ccpay-payment-app, pull requests merged in 2023-08, with the labels that each got.

#1480 Nightly dev
  api/build.gradle
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1480

#1482 PAY-6443: Add CVE resolution and suppression
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1482

#1484 Fix out of date image in Prod.
  charts/payment-api/Chart.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1484
