Repository hmcts/ccpay-payment-app, pull requests merged in 2023-04, with the labels that each got.

#1392 Initial build for pipeline
  .github/renovate.json
  Dockerfile
  api/src/functionalTest/resources/application-functional-tests.properties
  audit.json
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  security.sh
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1392

#1414 Suppression for cve with no fix available.
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1414

#1415 Update application-local.properties
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceImpl.java
  charts/payment-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1415

#1417 PAY-5997: Update references to use platform.hmcts.net
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/resources/application-functional-tests.properties
  audit.json
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  scripts/config.sh
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1417
