Repository hmcts/ccpay-payment-app, pull requests merged in 2023-06, with the labels that each got.

#1432 PAY-6040-CVE-fixes
  api/src/functionalTest/resources/application-functional-tests.properties
  charts/payment-api/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1432

#1437 Isolated preview with dependency fixes
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/resources/application-functional-tests.properties
  build.gradle
  case-payment-orders-client/build.gradle
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  dependency-check-suppressions.xml
  model/build.gradle
  otp/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1437

#1435 fix skipped tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/AccountFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BarPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/BulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CMCCardPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/OnlineCardPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAAccountsFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAPaymentPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentBulkscanPerformanceLiberataTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentGroupFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentTelephonyLiberataPerformanceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundRequestorJourneyBulkscanPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RemissionFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/config/TestConfigProperties.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/fixture/PaymentFixture.java
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1435

#1418 PAY-5980: SPIKE: Duplicate PBA Payments -Idempotency Change
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/servicerequest/ServiceRequestPaymentDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/model/IdempotencyKeys.java
  api/src/main/java/uk/gov/hmcts/payment/api/model/IdempotencyKeysPK.java
  api/src/main/java/uk/gov/hmcts/payment/api/model/IdempotencyKeysRepository.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImplTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1418
