Repository hmcts/ccpay-payment-app, pull requests merged in 2024-11, with the labels that each got.

#1697 PAY-7452
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1697

#1696 PAY-7454: OAUTH2 Liberata Update
  api-contract/src/test/java/uk/gov/hmcts/payment/api/contract/FeeDtoTest.java
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/PayFeeLinkRepositoryStub.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/CallBackServiceFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/RestTemplateConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/PaymentAuthCheckerConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeesController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/pcipal/TelephonyController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacServiceImpl.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/AccountServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/serviceanduser/ServiceAndUserTestApplication.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/util/PaymentsDataUtil.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/FeesControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/v1/componenttests/sugar/RestActions.java
  build.gradle
  gov-pay-client/build.gradle
  model/build.gradle
  model/src/main/java/uk/gov/hmcts/payment/api/dto/LiberataSupplementaryDetails.java
  model/src/main/java/uk/gov/hmcts/payment/api/dto/LiberataSupplementaryInfo.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/LiberataService.java
  reference-data/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1696

#1699 Pay 7452
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1699

#1700 Revert "Pay 7452"
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1700

#1698 PAY-7443: Service Request Online Card Duplicate Payment Update
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/ServiceRequestProviderTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentStatus.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1698

#1705 Pay 7443 improve code coverage
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1705
