Repository hmcts/ccpay-payment-app, pull requests merged in 2024-12, with the labels that each got.

#1711 PAY-7485: Update to improve SonarQube Maintainability Quality Score
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/security/SpringSecurityConfiguration.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1711

#1718 PAY-7213 PACT contract verification
  Jenkinsfile_CNP
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1718

#1725 PAY-7474 fix contract test for probate_caveatsFrontEnd
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTestConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1725

#1729 CME-24: Fix functional tests
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/AccountControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/AccountServiceTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/service/AccountServiceImpl.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1729
