Repository hmcts/ccpay-payment-app, pull requests merged in 2024-01, with the labels that each got.

#1554 PAY-6803: Adding new PaymentReportType
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1554

#1558 PAY-6779: Allow retry on failed PBA Liberata calls
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyService.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImplTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1558

#1551 Pay 5918
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/FeePayApportionController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentGroupDtoMapperTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1551

#1565 PAY_6838
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1565
