Repository hmcts/ccpay-payment-app, pull requests merged in 2024-08, with the labels that each got.

#1675 Pay 7292
  api/build.gradle
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/RemissionDtoMapperTest.java
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1675

#1670 PAY-7103: Calculate the AMOUNT DUE and OVERPAYMENTS for ( Issue refun…
  api/src/contractTest/resources/application.yml
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/PaymentGroupDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1670, aat/destroy, prod/destroy

#1677 Pay 7265 refund 500 fix 2
  api/src/main/resources/db/changelog/db.changelog-0.1.14.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1677
