Repository hmcts/ccpay-payment-app, pull requests merged in 2024-02, with the labels that each got.

#1567 PAY-6580-PBA_payment_additional_retry
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestController.java
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/IdempotencyServiceImplTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1567

#1557 PAY-5998 fix pact verification failures
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/ServiceRequestProviderTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  codecov.yml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1557

#1570 Revert " PAY-5918: Restriction on Refund CREATION due to a Remission (Upfront…"
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1570

#1510 Pay-6587: PRL Telephony
  api/src/functionalTest/resources/application-functional-tests.properties
  api/src/main/java/uk/gov/hmcts/PaymentApiApplication.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  model/src/main/java/uk/gov/hmcts/payment/api/service/PciPalPaymentService.java
Labels: ns:fees-pay, prd:payment, add-or-update, enable_keep_helm, rel:payment-api-pr-1510

#1574 PAY-6881-cve-2023-34042
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1574

#1575 PAY-6911: Pipeline analysis and resolution 26 February 2023
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1575
