Repository hmcts/ccpay-payment-app, pull requests merged in 2024-09, with the labels that each got.

#1679 PAY-7307: Liberata Reference – L0126548   - Rejected API Transactions…
  model/src/main/java/uk/gov/hmcts/payment/api/service/FeePayApportionServiceImpl.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1679

#1680 PAY-7310: Update to fix IAC Issue
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/IacServiceTest.java
  build.gradle
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1680

#1684 PAY-7310: Update to identify Case Reference by Payment Group
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/IacServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/IacServiceTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1684

#1682 Pay 7132
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1682

#1685 PAY-7296: Remove legacy APIM Telephony Config
  infrastructure/main.tf
  infrastructure/template/api-policy.xml
Labels: ns:fees-pay, prd:payment, aat/destroy, prod/destroy, rel:payment-api-pr-1685

#1681 PAY-7286-backend telephonyPaymentsReport
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/TelephonyPaymentsTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/TelephonyPaymentsReportDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/TelephonyPaymentsReportResponse.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateService.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentStatusControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/dto/TelephonyPaymentsReportDtoTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/CustomTupleForTelephonyPaymentsReport.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/PaymentStatusUpdateServiceImplTest.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
  model/src/test/java/uk/gov/hmcts/payment/api/model/CustomTuple.java
  model/src/test/java/uk/gov/hmcts/payment/api/model/Payment2RepositoryTest.java
Labels: ns:fees-pay, prd:payment, aat/add-or-update, prod/add-or-update, rel:payment-api-pr-1681
