Repository hmcts/ccpay-payment-app, pull requests merged in 2024-04, with the labels that each got.

#1652 PAY-7005: Fix EmailService not sending emails when running reports
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1652

#1654 PAY-5797: Update to point to new service-bus.
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1654

#1577 PAY-6933
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PBAAccountsRetrievalFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/service/PaymentTestService.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/AccountStatusError.java
  api/src/main/java/uk/gov/hmcts/payment/api/exception/PbaAccountStatusException.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/AccountControllerTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1577

#1653 PAY-7000: Refund and collection of payments.
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:payment, enable_keep_helm, aat/no-changes, rel:payment-api-pr-1653

#1657 PAY-6982 Addition of stale.yml for PR auto close bot
  .github/workflows/stale.yml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1657

#1655 Pay 6479 remove payments role from payment groups
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/ServiceRequestFunctionalTests.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1655
