Repository hmcts/ccpay-payment-app, pull requests merged in 2024-10, with the labels that each got.

#1678 PAY-5978 Duplicate payment test3
  .DS_Store
  api-contract/src/main/java/uk/gov/hmcts/payment/api/contract/exception/ValidationErrorDTO.java
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/payment/api/configuration/PaymentReportConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentReportType.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportFacade.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/PaymentsReportService.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/BarPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/CardPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/DuplicatePaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaCivilPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaCmcPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaDivorcePaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaFinremPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaFplPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaIacPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaPrlPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaProbatePaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/PbaSmcPaymentReportConfig.java
  api/src/main/java/uk/gov/hmcts/payment/api/validators/PaymentValidator.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/PaymentReportControllerMockTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/reports/PaymentsReportFacadeTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/PaymentsReportServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/validators/DuplicatePaymentValidatorTest.java
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  docker-compose.yml
  model/src/main/java/uk/gov/hmcts/payment/api/dto/DuplicatePaymentDto.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/Payment2Repository.java
Labels: ns:fees-pay, prd:payment, aat/add-or-update, prod/add-or-update, rel:payment-api-pr-1678

#1689 PAY-7374: Update Service Map for Civil Service
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1689

#1690 PAY-7315: New PCIPal thumbprint and APIM URL fix
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
Labels: ns:fees-pay, prd:payment, aat/add-or-update, prod/add-or-update, rel:payment-api-pr-1690

#1692 Pay 7213 pact contract verification
  api/build.gradle
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTest.java
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CreditAccountPaymentProviderTestConfiguration.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CreditAccountPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/PaymentReference.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1692

#1693 PAY-7245 make sure reference in response matches request
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/CardPaymentProviderTest.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1693

#1694 PAY-7315: Update PCIPal thumbprints
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
Labels: ns:fees-pay, prd:payment, aat/add-or-update, prod/add-or-update, rel:payment-api-pr-1694
