Repository hmcts/ccpay-payment-app, pull requests merged in 2024-03, with the labels that each got.

#1571 PAY-5985: Restriction on Refund AMOUNT due to a Remission (Upfront a…
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/PaymentStatusFunctionalTest.java
  api/src/functionalTest/java/uk/gov/hmcts/payment/functional/RefundsRequestorJourneyPBAFunctionalTest.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/RemissionDto.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentGroupDtoMapper.java
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/PaymentRefundsServiceTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1571

#1578 PAY-6943: Change to pull back card payment based on reference
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CardPaymentController.java
  api/src/main/java/uk/gov/hmcts/payment/api/dto/mapper/PaymentDtoMapper.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PaymentDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/unit/SendMessageApplication.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1578

#1560 PAY-6766-newBranch
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  dependency-check-suppressions.xml
  gov-pay-client/src/main/java/uk/gov/hmcts/payment/api/external/client/GovPayClient.java
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1560

#1579 PAY-6958: Adding indexes to improve performance
  api/src/main/resources/db/changelog/db.changelog-0.1.12.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1579

#1580 PAY-6972_CVE-2024-26308
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1580

#1582 PAY-6974 postgresql 42.7.3
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1582
