Repository hmcts/ccpay-payment-app, pull requests merged in 2025-09, with the labels that each got.

#1859 PAY-8047: PBA: Move Apportionment before ServiceBus + extra logging
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceImpl.java
  api/src/main/java/uk/gov/hmcts/payment/api/servicebus/TopicClientProxy.java
  api/src/test/java/uk/gov/hmcts/payment/api/domain/service/ServiceRequestDomainServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/mapper/PBAStatusErrorMapperTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/IacServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/service/RefundRemissionEnableServiceTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/servicebus/TopicClientProxyTest.java
  cve-resolution-strategy.gradle
  gov-pay-client/build.gradle
  model/build.gradle
  model/src/test/java/uk/gov/hmcts/payment/api/model/CheckDigitTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1859

#1860 PAY-8065: Updating volume to be 1 if null
  api/src/main/resources/db/changelog/db.changelog-0.1.16.yaml
  api/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1860

#1863 PAY-8087: Pipeline fixes - week beginning 15 of March 2025
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1863

#1872 PAY-8104 revert pact version
  api/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1872
