Repository hmcts/ccpay-payment-app, pull requests merged in 2025-04, with the labels that each got.

#1786 PAY-7740 Pipeline fixes
  build.gradle
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1786

#1787 PAY-7740
  infrastructure/main.tf
Labels: ns:fees-pay, prd:payment, prod/add-or-update, aat/destroy, rel:payment-api-pr-1787

#1785 PAY-7649
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/resources/application-componenttest.properties
  charts/payment-api/Chart.yaml
  charts/payment-api/values.yaml
  docker-compose.yml
Labels: ns:fees-pay, prd:payment, aat/destroy, prod/destroy, rel:payment-api-pr-1785

#1783 PAY-7678
  README.md
  api/src/main/java/uk/gov/hmcts/payment/api/service/PaymentRefundsServiceImpl.java
Labels: ns:fees-pay, prd:payment, aat/destroy, prod/destroy, rel:payment-api-pr-1783
