Repository hmcts/ccpay-payment-app, pull requests merged in 2025-08, with the labels that each got.

#1829 PAY-7959: Refunds duplicated in the backend when there is more th…
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/CaseController.java
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/CaseControllerTest.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, rel:payment-api-pr-1829

#1847 CME-209: fix(db): configure HikariCP connection pool settings
  api/src/main/resources/application.properties
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1847

#1858 Pay 8028 pipeline fixes
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1858
