Repository hmcts/ccpay-payment-app, pull requests merged in 2025-01, with the labels that each got.

#1743 PAY-7522: Update to fix pact tests
  api/build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-api-pr-1743

#1676 Pay 7154 duplicate service request reports
  .DS_Store
  api/src/contractTest/java/uk/gov/hmcts/payment/api/controllers/provider/PayFeeLinkRepositoryStub.java
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestReportController.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/ServiceRequestReportService.java
  api/src/main/java/uk/gov/hmcts/payment/api/reports/config/ServiceRequestReportConfig.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/payment/api/controllers/ServiceRequestReportControllerTest.java
  api/src/test/java/uk/gov/hmcts/payment/api/scheduler/ServiceRequestReportServiceTest.java
  charts/payment-api/Chart.yaml
  charts/payment-api/values.preview.template.yaml
  charts/payment-api/values.yaml
  docker-compose.yml
  model/src/main/java/uk/gov/hmcts/payment/api/model/DuplicateServiceRequestDto.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/DuplicateServiceRequestKey.java
  model/src/main/java/uk/gov/hmcts/payment/api/model/PaymentFeeLinkRepository.java
Labels: ns:fees-pay, prd:payment, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:payment-api-pr-1676

#1761 PAY-7556: Update Payment Status Job for Robustness When Collecting Payment
  api/src/main/java/uk/gov/hmcts/payment/api/controllers/MaintenanceJobsController.java
  api/src/test/java/uk/gov/hmcts/payment/api/componenttests/jobs/MaintenanceJobsControllerMockTest.java
Labels: ns:fees-pay, prd:payment
